.card{
    width: 500px;
    height: 400px;
    background-color: black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    & button{
        
        margin: 20px;
    }
    & input{
        width: 400px;
        height: 40px;
        font-size: larger;
    }
}